<!-- <a href="{% url 'project' project.id %}">
    <div class="project_tile">
        <div class="info_container">
            <h2>{{project.name}}</h2>
            {% if project.description %}
            <p>{{project.description}}</p>
            {% endif %}
        </div>
        <div class="delete_button">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete" value="{{project.id}}">
                <input type="submit" value="🗑️">
            </form>
        </div>
    </div>
</a> -->
<a href="{% url 'project' project.id %}">
    <div class="card">
        <div class="info_container">
            <h2>{{project.name}}</h2>
            {% if project.description %}
            <p>{{project.description}}</p>
            {% endif %}
        </div>
        <div class="delete_button">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete" value="{{project.id}}">
                <input type="submit" value="🗑️">
            </form>
        </div>
    </div>
</a>